<%-include('header')%>
    <div class="container " id="passwordCategory">
      <table>
        <tr>
          <th>Password Category Name</th>
          <th>Action</th>
        </tr>
        <% if(categoryData.length>0){ 
          categoryData.forEach(function(row){%>
        <tr>
          <td><%=row.password%></td>
          <td><a class="delete-edit" href="/password-category/edit/<%=row._id%>"><i class="icon-edit fa fa-edit"></i></a><a class="delete-edit" href="/password-category/delete/<%=row._id%>"><i class="fa fa-trash"></i></a></td>
        </tr>
        <%})}%>
       
      </table>
     
       <% if (pages > 0) { %>
                <ul class="pagination text-center">
                    <% if (current == 1) { %>
                        <li class="disabled"><a>First</a></li>
                    <% } else { %>
                        <li><a href="/password-category/1">First</a></li>
                    <% } %>
                    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                    <% if (i !== 1) { %>
                        <li class="disabled"><a>...</a></li>
                    <% } %>
                    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                        <% if (i == current) { %>
                            <li class="active"><a><%= i %></a></li>
                        <% } else { %>
                            <li><a href="/password-category/<%= i %>"><%= i %></a></li>
                        <% } %>
                        <% if (i == Number(current) + 4 && i < pages) { %>
                            <li class="disabled"><a>...</a></li>
                        <% } %>
                    <% } %>
                    <% if (current == pages) { %>
                        <li class="disabled"><a>Last</a></li>
                    <% } else { %>
                        <li><a href="/password-category/<%= pages %>">Last</a></li>
                    <% } %>
                </ul>
            <% } %>
    </div>
  </body>
</html>
